.header-content {
  background-color: rgb(44, 149, 163);
}

.template {
  display: none;
}

.nav-bar ul {
  list-style: none;
  background-color: rgb(44, 149, 163);
  padding: 0;
  margin: 0;
  display: none;
}

.nav-bar li {
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid rgb(22, 149, 163);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-bar a {
  color: rgb(255, 255, 255);
  display: block;
  transition: .3s background-color;
  text-decoration: none;
  text-align: center;
}

.nav-bar a:hover {
  background-color: rgb(241, 244, 85);
}

.nav-bar a.active {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  cursor: default;
}

.hamburger {
  width: 2em;
  height: 2em;
  float: right;
}

@media screen and (min-width: 640px) {

  .nav-bar li {
    width: 6em;
    border-bottom: none;
    height: 2.4em;
    line-height: 2.4em;
    font-size: 1.3em;
    display: inline-block;
    margin-right: -.2em;
  }

  .nav-bar ul {
    float: right;
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}
