ul {
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
}

footer {
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  margin-top: 4em;
}

.header-content {
  background-color: rgb(0, 216, 255);
  width: 100%;
  display: block;
  height: 3.1em;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-bar li {
  margin: 1em;
  height: 2em;
  line-height: 1em;
  display: inline-block;
  text-align: center;
}

.nav-bar a {
  color: rgb(255, 255, 255);
  display: block;
  transition: .3s color;
  text-decoration: none;
  text-align: center;
}

.nav-bar a:hover {
  color: rgb(46, 46, 46);
}

.container{
  margin-top: 10em;
}

.intro-banner {
  text-align: center;
}

.intro-banner p {
  padding-bottom: 10em;
}

.project {
  position: relative;
  margin-bottom: 4em;
}

#project-picture {
  positon: absolute;
  width: 100%;
  z-index: 30;
}

#project-text {
  position: absolute;
  margin: 1em;
  z-index: 100;
}

#project-buttons a {
  margin-left: 1em;
  float: right;
}

.white-text p {
  color: rgb(255, 255, 255);
}

.white-text h3 {
  color: rgb(255, 255, 255);
}

.about-me {
  text-align: center;
}

#social-icons img {
  padding: 0 2em;
  height: 2em;
  width: 2em;
}

#social-icons li {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

#social-icons ul {
  text-align: center;
}

#footer-deco {
  width: 100%;
  /*position: absolute;*/
  bottom: 0px;
  z-index: 10;
}

#footer-text {
  z-index: 100;
  background-color: rgb(69, 69, 69);
  pad: 0;
}

#footer-text ul {
  margin: 0;
}

.contact a {
  transition: .3s opacity;
}

.contact a:hover {
  opacity: .50;
}

@media screen and (min-width: 768px) {

  footer {
    margin-top: 8em;
  }

  .nav-bar a {
    display: block;
  }

  .nav-bar li {
    border-bottom: none;
    margin: 0 1em;
    height: 2.4em;
    line-height: 2.4em;
    font-size: 1.3em;
    display: inline-block;
  }

  .nav-bar ul {
    margin-right: 1em;
    float: right;
    display: inline-block;
  }

  .about-me .education {
    text-align: right;
  }

  .about-me .experience {
    text-align: left;
  }

  #footer-deco {
    width: 100%;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) {

  footer {
    margin-top: 12em;
  }
}
